<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
    }

    .error-container {
      text-align: center;
      padding-top: 50px;
    }

    h1 {
      color: #ff6347;
      font-size: 48px;
    }

    p {
      color: #666;
      font-size: 20px;
    }

    img {
      width: 200px;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="error-container">
    <h1>Algo de errado com o Servidor</h1>
    <p>Algo não está funcionando bem, contacte o administrador.</p>
  </div>
</body>
</html> 